@font-face {
  font-family: 'PressStart2P';
  src: url(../assets/fonts/PressStart2P.ttf) format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #ffeac9;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'PressStart2P', Verdana, Tahoma;
}

body {
  background: #282c3e;
  position: relative;
}
